# This patch configures IBM License Service to send data to the Reporter
# Apply with: kubectl patch ibmlicensing instance -n ibm-licensing --type=merge -p "$(cat ibm-licensing-sender-config.yaml)"
apiVersion: operator.ibm.com/v1alpha1
kind: IBMLicensing
metadata:
  name: instance
  namespace: ibm-licensing
spec:
  # Enable sending license data to Reporter
  sender:
    # Reporter service URL (internal cluster DNS)
    reporterURL: "https://ibm-license-service-reporter.ibm-license-service-reporter.svc:8080"
    # Secret containing the reporter authentication token
    # This secret will be created when the Reporter is deployed
    reporterSecretToken: ibm-licensing-reporter-token
  # Existing configuration preserved
  datasource: datacollector
  httpsEnable: true
  license:
    accept: true
