apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: ibmlicenseservicereporters.operator.ibm.com
spec:
  group: operator.ibm.com
  names:
    kind: IBMLicenseServiceReporter
    listKind: IBMLicenseServiceReporterList
    plural: ibmlicenseservicereporters
    singular: ibmlicenseservicereporter
    shortNames:
      - ilsr
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              x-kubernetes-preserve-unknown-fields: true
            status:
              type: object
              x-kubernetes-preserve-unknown-fields: true
      subresources:
        status: {}
